body{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 150%;
}

header{
  background-color: #c9cfa9;
}

nav{
  background-color: #ef2929;
}

main{
  background-color:#e2a9f1
  font-size:
}

li {
    display: inline-block;
    width: 27%;
    text-align: center;
    height: 100px;
    background: yellow;
    line-height: 100px;
}